---
import Layout from '../layouts/Layout.astro';
---

<Layout title="StudioWeb19">

    <main class="max-w-5xl mx-auto px-6 py-20">

        <h1 class="text-5xl font-bold mb-6">
            StudioWeb19
        </h1>

        <p class="text-xl text-gray-600">
            Sviluppo software gestionali, piattaforme cloud e sistemi verticali in Laravel.
        </p>

    </main>

</Layout>
